<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="CommandTimeOut" value="0"/>
    <!--<add key="InitialCatalog" value="vsmart_epos"/>-->
    <add key="InitialCatalog" value="vsmart_epos"/>
    <add key="HostName" value="localhost"/>
    <add key="UserName" value="gizmo18"/>
    <add key="Password" value="ZQseKQfQaJC7cqA2"/>
    <add key="ExceptionLogFile" value="~/Log/Exception@$MMYY.log"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>    
    <httpRuntime maxUrlLength="20999" maxQueryStringLength="2097151" />    
  </system.web>
  <system.webServer>
    <security>
   <requestFiltering>
       <requestLimits maxUrl="20999" maxQueryString="2097151" />
    </requestFiltering>
    </security>
    <caching enabled="true" enableKernelCache="true">
      <profiles>        
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".eot" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".otf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
      </profiles>
    </caching>
    <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
     </staticContent>  
  
  </system.webServer>
</configuration>