.SubControlPOSPaymentPanel *,
.SubControlPOSPaymentPanel *:after,
.SubControlPOSPaymentPanel *:before 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font             : 2vh cobrasystemfont;     
}

.SubControlPOSPaymentPanelPopUp
{
    position:fixed;
    top:0vh;
    left:100vw;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.6);
    overflow:hidden;

    -webkit-transition: left 0.2s;
    -moz-transition:    left 0.2s;
    -o-transition:      left 0.2s;
    -ms-transition:     left 0.2s;
    transition:         left 0.2s; 
}

.SubControlPOSPaymentPanelPopUp[fa-show]
{
    left:0vh;
}

.SubControlPOSPaymentPanel
{
    position : relative;
    width    : 100vw;
    height   : 90vh;

    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);

    background : #efefef;
}

.SubControlPOSPaymentPanel .TitleBar
{
    width : 100vw;
    height : 5vh;   
    padding-top: 0.5vh;  

    background: rgba(255,171,97,1);
    background: -moz-linear-gradient(top, rgba(255,171,97,1) 0%, rgba(199,93,0,1) 10%, rgba(199,93,0,1) 90%, rgba(255,171,97,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,171,97,1)), color-stop(10%, rgba(199,93,0,1)), color-stop(90%, rgba(199,93,0,1)), color-stop(100%, rgba(255,171,97,1)));
    background: -webkit-linear-gradient(top, rgba(255,171,97,1) 0%, rgba(199,93,0,1) 10%, rgba(199,93,0,1) 90%, rgba(255,171,97,1) 100%);
    background: -o-linear-gradient(top, rgba(255,171,97,1) 0%, rgba(199,93,0,1) 10%, rgba(199,93,0,1) 90%, rgba(255,171,97,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,171,97,1) 0%, rgba(199,93,0,1) 10%, rgba(199,93,0,1) 90%, rgba(255,171,97,1) 100%);
    background: linear-gradient(to bottom, rgba(255,171,97,1) 0%, rgba(199,93,0,1) 10%, rgba(199,93,0,1) 90%, rgba(255,171,97,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffab61', endColorstr='#ffab61', GradientType=0 );
}

.SubControlPOSPaymentPanel .TitleBar span
{
    display: block;
    width: 100vw;
    text-align: center;
    color: #fff;
    font-size: 2.3vh;
    line-height: 160%
}


.SubControlPOSPaymentPanel .TitleBar a
{    
    position: absolute;
    font: 3vh fontawesome;
    top: 0vh;
    right: 0;
    height: 100%;
    width: 10vw;
    padding-left: 2vw;
    line-height: 160%;
    text-decoration: none;
    color: #fff;
}


.SubControlPOSPaymentPanel .ContentContainer
{
 
}


.SubControlPOSPaymentPanel .ContentContainer .TotalRow,
.SubControlPOSPaymentPanel .ContentContainer .TotalPaymentRow,
.SubControlPOSPaymentPanel .ContentContainer .ChangeRow
{    
    width: 100vw;
    height: 7vh;        
}

.SubControlPOSPaymentPanel .ContentContainer .TotalRow [sa-elementtype=label],
.SubControlPOSPaymentPanel .ContentContainer .TotalPaymentRow [sa-elementtype=label],
.SubControlPOSPaymentPanel .ContentContainer .ChangeRow [sa-elementtype=label]
{
    height: 100%;
    font-size: 2.2vh;
    margin-left: 10vw;
    width: 40%;
    float: left;
    line-height: 300%;
}

.SubControlPOSPaymentPanel .ContentContainer .TotalRow [sa-elementtype=figure],
.SubControlPOSPaymentPanel .ContentContainer .TotalPaymentRow [sa-elementtype=figure],
.SubControlPOSPaymentPanel .ContentContainer .ChangeRow [sa-elementtype=figure]
{
    position:relative;
    width: 40%;
    height: 80%;
    font-size: 3vh;
    border: 0.2vh solid #fff;    
    margin-right: 10vw;
    float: right;
    margin-top: 0.75vh;
    text-align: right;
    padding: 0vh 2vw;
    background: rgb(220, 240, 255);
    border: 0.2vh solid #ccc;
}

.SubControlPOSPaymentPanel .ContentContainer .TotalRow [sa-elementtype=label],
.SubControlPOSPaymentPanel .ContentContainer .TotalRow [sa-elementtype=figure]
{
    color : #ff0000;    
}

.SubControlPOSPaymentPanel .ContentContainer .TotalPaymentRow [sa-elementtype=label],
.SubControlPOSPaymentPanel .ContentContainer .TotalPaymentRow [sa-elementtype=figure]
{
    color : #0d5a00;
}

.SubControlPOSPaymentPanel .ContentContainer .ChangeRow [sa-elementtype=label]
{
   color : #ff0000;    
}

.SubControlPOSPaymentPanel .ContentContainer .ChangeRow
{
    display : none;
}

.SubControlPOSPaymentPanel .ContentContainer .ChangeRow [sa-elementtype=figure]
{
   color : #ffffff;    
   background : #003c23;
}

.SubControlPOSPaymentPanel .ContentContainer .TotalPaymentRow [sa-elementtype=figure]::after
{
    position: absolute;
    width: 44vw;
    border-bottom: 0.3vh solid #bfbfbf;
    top: -1vh;
    left: -2vw;
    content: '';
}

.SubControlPOSPaymentPanel .ContentContainer .TotalPaymentRow[fa-error] [sa-elementtype=figure]
{
    background : #ff0000;
    color:#fff;
}

.SubControlPOSPaymentPanel .ContentContainer .TotalPaymentRow[fa-error] [sa-elementtype=figure]::before
{
    font: 2.2vh fontawesome;
    margin-right: 2vw;
    content: '\f071';
    color: #fff900;
    display: block;
    float: left;
    margin-top: 1.5vh;
}

.SubControlPOSPaymentPanel .ContentContainer .PaymentContainer
{   
    position:relative; 
    overflow: auto;
    width: 100vw;
    height: auto;    
    margin-bottom:1vh;
    max-height: 25vh;
}

.SubControlPOSPaymentPanel .ContentContainer .PaymentContainer .PaymentRow
{    
    width: 100vw;
    height: 6vh;    
    display:none;
}

/* .SubControlPOSPaymentPanel .ContentContainer .PaymentContainer .PaymentRow:first-child, */
.SubControlPOSPaymentPanel .ContentContainer .PaymentContainer .PaymentRow[value],
.SubControlPOSPaymentPanel .ContentContainer .ChangeRow[value]
{
    display:block;
}

.SubControlPOSPaymentPanel .ContentContainer .PaymentContainer .PaymentRow [sa-elementtype=label]
{
    height: 100%;
    font-size: 2.7vh;
    margin-left: 10vw;
    width: 40%;
    float: left;
    line-height: 220%;
}

.SubControlPOSPaymentPanel .ContentContainer .PaymentContainer .PaymentRow [sa-elementtype=figure]
{
    width: 40%;
    height: 90%;
    border: 0.2vh solid #fff;
    font-size: 2.7vh;
    background: #ffffff;
    margin-right: 10vw;
    float: right;
    margin-top: 0.75vh;
    text-align: right;
    padding: 0vh 2vw;
}

