.SubControlPOSReceiptOutput *,
.SubControlPOSReceiptOutput *:after,
.SubControlPOSReceiptOutput *:before 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font             : 2vh cobrasystemfont;     
}

/*.SubControlPOSReceiptOutput 
{

}

.SubControlPOSReceiptOutput div[sa-elementtype=block]
{
    display : none;    
}*/

.SubControlPOSReceiptOutput canvas[ea-type=receiptcanvas]
{
    display : none;
    background : #aaa;
}


.SubControlPOSReceiptOutput div[sa-elementtype=panel][ea-type=preview]
{
    position : fixed;
    top:100vh;
    left:0;   
    display : block;
    width  : 100vw;
    height : 100vh;    

    background : #fff;

    -webkit-transition: top 0.5s;
    -moz-transition:    top 0.5s;
    -o-transition:      top 0.5s;
    -ms-transition:     top 0.5s;
    transition:         top 0.5s;
}

.SubControlPOSReceiptOutput div[sa-elementtype=panel][ea-type=preview][fa-show]
{
    top:0;   
}

.SubControlPOSReceiptOutput div[sa-elementtype=panel][ea-type=preview] .TitleBar
{
    width:100vw;
    height:5vh;  
    padding-top: 0.5vh;    
    position:relative;

    background: rgba(242,242,242,1);
    background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(191,191,191,1) 10%, rgba(186,186,186,1) 90%, rgba(105,105,105,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,242,242,1)), color-stop(10%, rgba(191,191,191,1)), color-stop(90%, rgba(186,186,186,1)), color-stop(100%, rgba(105,105,105,1)));
    background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(191,191,191,1) 10%, rgba(186,186,186,1) 90%, rgba(105,105,105,1) 100%);
    background: -o-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(191,191,191,1) 10%, rgba(186,186,186,1) 90%, rgba(105,105,105,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(191,191,191,1) 10%, rgba(186,186,186,1) 90%, rgba(105,105,105,1) 100%);
    background: linear-gradient(to bottom, rgba(242,242,242,1) 0%, rgba(191,191,191,1) 10%, rgba(186,186,186,1) 90%, rgba(105,105,105,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#696969', GradientType=0 );
}

.SubControlPOSReceiptOutput div[sa-elementtype=panel][ea-type=preview] .TitleBar span
{
    display: block;
    width: 100vw;
    text-align: center;
    color: #eee; 
}

.SubControlPOSReceiptOutput div[sa-elementtype=panel][ea-type=preview] .TitleBar a
{
    position: absolute;
    font: 3vh fontawesome;
    top: 0vh;
    right: 0;
    height: 100%;
    width: 10vw;
    text-align:center;    
    line-height: 160%;
    text-decoration: none;
    color: #fff;
}

.SubControlPOSReceiptOutput div[sa-elementtype=panel][ea-type=preview] .ButtonBar
{
    width:100vw;
    height:8vh;
    padding-top : 0.25vh;

    background: rgba(242,246,248,1);
    background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,0.54) 8%, rgba(181,198,208,1) 92%, rgba(181,198,208,1) 93%, rgba(224,239,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(8%, rgba(216,225,231,0.54)), color-stop(92%, rgba(181,198,208,1)), color-stop(93%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
    background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,0.54) 8%, rgba(181,198,208,1) 92%, rgba(181,198,208,1) 93%, rgba(224,239,249,1) 100%);
    background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,0.54) 8%, rgba(181,198,208,1) 92%, rgba(181,198,208,1) 93%, rgba(224,239,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,0.54) 8%, rgba(181,198,208,1) 92%, rgba(181,198,208,1) 93%, rgba(224,239,249,1) 100%);
    background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,0.54) 8%, rgba(181,198,208,1) 92%, rgba(181,198,208,1) 93%, rgba(224,239,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
    
    overflow:hidden;
}

.SubControlPOSReceiptOutput div[sa-elementtype=panel][ea-type=preview] .ButtonIcon
{
    position:relative;
    height : 7vh;
    width  :auto;
    margin : 0.3vh 2vw;
    opacity : 0.8;
    float:left;
}

.SubControlPOSReceiptOutput div[sa-elementtype=panel][ea-type=preview] .ButtonIcon .ButtonIconImage
{
    height : 7vh;
    width  :auto;
}

.SubControlPOSReceiptOutput div[sa-elementtype=panel][ea-type=preview] .TitleBar a:active,
.SubControlPOSReceiptOutput div[sa-elementtype=panel][ea-type=preview] .ButtonIcon:active
{
    background : rgba(0,0,0,0.25);
}

.SubControlPOSReceiptOutput div[sa-elementtype=panel][ea-type=preview] div[sa-elementtype=container]
{
    width       : 100vw;
    height      : 87vh;
    overflow    : auto;
    padding     : 2vh 5vw;
    
    border      : 0.1vh solid #efefef;    

    background: rgba(242,242,242,0.8);
    background: -moz-linear-gradient(45deg, rgba(242,242,242,0.8) 0%, rgba(255,255,255,0.8) 15%, rgba(242,242,242,0.8) 41%, rgba(255,255,255,0.8) 64%, rgba(242,242,242,0.8) 85%, rgba(255,255,255,0.8) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(242,242,242,0.8)), color-stop(15%, rgba(255,255,255,0.8)), color-stop(41%, rgba(242,242,242,0.8)), color-stop(64%, rgba(255,255,255,0.8)), color-stop(85%, rgba(242,242,242,0.8)), color-stop(100%, rgba(255,255,255,0.8)));
    background: -webkit-linear-gradient(45deg, rgba(242,242,242,0.8) 0%, rgba(255,255,255,0.8) 15%, rgba(242,242,242,0.8) 41%, rgba(255,255,255,0.8) 64%, rgba(242,242,242,0.8) 85%, rgba(255,255,255,0.8) 100%);
    background: -o-linear-gradient(45deg, rgba(242,242,242,0.8) 0%, rgba(255,255,255,0.8) 15%, rgba(242,242,242,0.8) 41%, rgba(255,255,255,0.8) 64%, rgba(242,242,242,0.8) 85%, rgba(255,255,255,0.8) 100%);
    background: -ms-linear-gradient(45deg, rgba(242,242,242,0.8) 0%, rgba(255,255,255,0.8) 15%, rgba(242,242,242,0.8) 41%, rgba(255,255,255,0.8) 64%, rgba(242,242,242,0.8) 85%, rgba(255,255,255,0.8) 100%);
    background: linear-gradient(45deg, rgba(242,242,242,0.8) 0%, rgba(255,255,255,0.8) 15%, rgba(242,242,242,0.8) 41%, rgba(255,255,255,0.8) 64%, rgba(242,242,242,0.8) 85%, rgba(255,255,255,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=1 );

}

.SubControlPOSReceiptOutput div[sa-elementtype=panel][ea-type=preview] div[sa-elementtype=container] img
{
    width       : 90vw;
    height      : auto;   
}

