.POSUnitList 
{    
    background: rgba(222,222,222,1);
    background: -moz-linear-gradient(45deg, rgba(222,222,222,1) 0%, rgba(246,246,246,1) 22%, rgba(235,235,235,1) 51%, rgba(246,246,246,1) 80%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(222,222,222,1)), color-stop(22%, rgba(246,246,246,1)), color-stop(51%, rgba(235,235,235,1)), color-stop(80%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(45deg, rgba(222,222,222,1) 0%, rgba(246,246,246,1) 22%, rgba(235,235,235,1) 51%, rgba(246,246,246,1) 80%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(45deg, rgba(222,222,222,1) 0%, rgba(246,246,246,1) 22%, rgba(235,235,235,1) 51%, rgba(246,246,246,1) 80%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(222,222,222,1) 0%, rgba(246,246,246,1) 22%, rgba(235,235,235,1) 51%, rgba(246,246,246,1) 80%, rgba(237,237,237,1) 100%);
    background: linear-gradient(45deg, rgba(222,222,222,1) 0%, rgba(246,246,246,1) 22%, rgba(235,235,235,1) 51%, rgba(246,246,246,1) 80%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#ededed', GradientType=1 );
}

.POSUnitList .WidControlPOSUnitList *,
.POSUnitList .WidControlPOSUnitList *:after,
.POSUnitList .WidControlPOSUnitList *:before 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font             : 2.3vh cobrasystemfont;     
}

.POSUnitList .WidControlPOSUnitList
{
    width:100vw;
    height:85vh;
    overflow:auto;               
}

.POSUnitList .WidControlPOSUnitList [sa-elementtype=container]
{
    width: 100vw;
    height: 85vh;
    overflow: hidden;
    position:relative;
    background: #c7c7c7;
}

.POSUnitList .WidControlPOSUnitList [sa-elementtype=container] .UnitListBlock
{   
    width: 100vw;
    max-height: 85vh;        
    background: #fcfcfc;

    -webkit-transition: left 0.5s ease;
    -moz-transition:    left 0.5s ease;
    -o-transition:      left 0.5s ease;
    -ms-transition:     left 0.5s ease;
    transition:         left 0.5s ease;

}

.POSUnitList .WidControlPOSUnitList [sa-elementtype=container] .UnitListBlock .Title 
{
    width: 100vw;
    height: 6vh;
    overflow:hidden; 
    text-align:center;
    color:#777;
    padding-top:1vh;

    background: rgba(176,176,176,1);
    background: -moz-linear-gradient(top, rgba(176,176,176,1) 0%, rgba(246,246,246,1) 5%, rgba(224,224,224,1) 50%, rgba(246,246,246,1) 95%, rgba(107,107,107,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(176,176,176,1)), color-stop(5%, rgba(246,246,246,1)), color-stop(50%, rgba(224,224,224,1)), color-stop(95%, rgba(246,246,246,1)), color-stop(100%, rgba(107,107,107,1)));
    background: -webkit-linear-gradient(top, rgba(176,176,176,1) 0%, rgba(246,246,246,1) 5%, rgba(224,224,224,1) 50%, rgba(246,246,246,1) 95%, rgba(107,107,107,1) 100%);
    background: -o-linear-gradient(top, rgba(176,176,176,1) 0%, rgba(246,246,246,1) 5%, rgba(224,224,224,1) 50%, rgba(246,246,246,1) 95%, rgba(107,107,107,1) 100%);
    background: -ms-linear-gradient(top, rgba(176,176,176,1) 0%, rgba(246,246,246,1) 5%, rgba(224,224,224,1) 50%, rgba(246,246,246,1) 95%, rgba(107,107,107,1) 100%);
    background: linear-gradient(to bottom, rgba(176,176,176,1) 0%, rgba(246,246,246,1) 5%, rgba(224,224,224,1) 50%, rgba(246,246,246,1) 95%, rgba(107,107,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0b0b0', endColorstr='#6b6b6b', GradientType=0 );
}


.POSUnitList .WidControlPOSUnitList [sa-elementtype=container] .UnitListBlock .ItemList
{
    width:100vw;
    max-height:79vh;
    overflow:auto;
}

.POSUnitList .WidControlPOSUnitList [sa-elementtype=container] .UnitListBlock .ItemList .ItemRow
{
    width:100vw;
    height:7vh;
    padding-left:10vw;
    padding-top:1.5vh;
    position:relative;
    color :#296c16;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    overflow:hidden;
    
}

.POSUnitList .WidControlPOSUnitList [sa-elementtype=container] .UnitListBlock .ItemList .ItemRow:nth-child(even)
{
    background : #e5e5e5;
}

.POSUnitList .WidControlPOSUnitList [sa-elementtype=container] .UnitListBlock .ItemList .ItemRow::before
{
    position: absolute;
    width: 10vw;
    height: 7vh;
    left: 0;
    font: 1.8vh fontawesome;
    content: '\f054';
    padding-left: 3vw;
    padding-top: 1.2vh;
    color: #8ea687;
    text-shadow: 0.15vh 0.15vh 0.15vh #f1f1f1;    
}


.POSUnitList .WidControlPOSUnitList [sa-elementtype=container] .UnitListBlock .ItemList .ItemRow span
{
    width: 70vw;
    display: inline-block;
    overflow-y: hidden;
    padding-left:1vw;
    overflow-x: auto;
    white-space: nowrap;
}

.POSUnitList .WidControlPOSUnitList [sa-elementtype=container] .UnitListBlock .ItemList .ItemRow .ButtonPanel
{    
    display: block;      
    height: 5vh; 
    margin-right: 2vw;
    margin-top: -0.5vh;  
    overflow:hidden;    
    width:4.8vh;    
    float:right;
}

.POSUnitList .WidControlPOSUnitList [sa-elementtype=container] .UnitListBlock .ItemList .ItemRow .ButtonPanel .EditButtonDiv,
.POSUnitList .WidControlPOSUnitList [sa-elementtype=container] .UnitListBlock .ItemList .ItemRow .ButtonPanel .DeleteButtonDiv
{    
    display: inline-block;     
    float: right;       
    overflow:hidden;    
    width:0vw;
    
    -webkit-transition: width 0.5s;
    -moz-transition:    width 0.5s;
    -o-transition:      width 0.5s;
    -ms-transition:     width 0.5s;
    transition:         width 0.5s;
}

.POSUnitList .WidControlPOSUnitList [sa-elementtype=container] .UnitListBlock .ItemList .ItemRow .ButtonPanel img
{ 
    display:block;
    width: 4.5vh;    
    margin-left:0;

    -webkit-transition: margin-left 0.5s;
    -moz-transition:    margin-left 0.5s;
    -o-transition:      margin-left 0.5s;
    -ms-transition:     margin-left 0.5s;
    transition:         margin-left 0.5s;
}

.POSUnitList .WidControlPOSUnitList[fa-mode=editmode] [sa-elementtype=container] .UnitListBlock .ItemList .ItemRow .ButtonPanel .EditButtonDiv,
.POSUnitList .WidControlPOSUnitList[fa-mode=deletemode] [sa-elementtype=container] .UnitListBlock .ItemList .ItemRow .ButtonPanel .DeleteButtonDiv
{   
   width:4.8vh;     
}

.POSUnitList .WidControlPOSUnitList[fa-mode=editmode] [sa-elementtype=container] .UnitListBlock .ItemList .ItemRow .ButtonPanel img[href="@cmd%edit"],
.POSUnitList .WidControlPOSUnitList[fa-mode=deletemode] [sa-elementtype=container] .UnitListBlock .ItemList .ItemRow .ButtonPanel img[href="@cmd%delete"]
{
    float:left;
    margin-left:0vh;
}

.POSUnitList .WidControlPOSUnitList[fa-mode=editmode] [sa-elementtype=container] .UnitListBlock .ItemList .ItemRow .ButtonPanel img[href="@cmd%delete"],
.POSUnitList .WidControlPOSUnitList[fa-mode=deletemode] [sa-elementtype=container] .UnitListBlock .ItemList .ItemRow .ButtonPanel img[href="@cmd%edit"]
{
    display:none;
}



