.POSGeneralSetting
{    
    background: rgba(216,208,239,1);
    background: -moz-linear-gradient(45deg, rgba(216,208,239,1) 0%, rgba(235,233,249,1) 18%, rgba(219,213,245,1) 40%, rgba(238,235,250,1) 61%, rgba(214,209,235,1) 89%, rgba(216,215,242,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(216,208,239,1)), color-stop(18%, rgba(235,233,249,1)), color-stop(40%, rgba(219,213,245,1)), color-stop(61%, rgba(238,235,250,1)), color-stop(89%, rgba(214,209,235,1)), color-stop(100%, rgba(216,215,242,1)));
    background: -webkit-linear-gradient(45deg, rgba(216,208,239,1) 0%, rgba(235,233,249,1) 18%, rgba(219,213,245,1) 40%, rgba(238,235,250,1) 61%, rgba(214,209,235,1) 89%, rgba(216,215,242,1) 100%);
    background: -o-linear-gradient(45deg, rgba(216,208,239,1) 0%, rgba(235,233,249,1) 18%, rgba(219,213,245,1) 40%, rgba(238,235,250,1) 61%, rgba(214,209,235,1) 89%, rgba(216,215,242,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(216,208,239,1) 0%, rgba(235,233,249,1) 18%, rgba(219,213,245,1) 40%, rgba(238,235,250,1) 61%, rgba(214,209,235,1) 89%, rgba(216,215,242,1) 100%);
    background: linear-gradient(45deg, rgba(216,208,239,1) 0%, rgba(235,233,249,1) 18%, rgba(219,213,245,1) 40%, rgba(238,235,250,1) 61%, rgba(214,209,235,1) 89%, rgba(216,215,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d0ef', endColorstr='#d8d7f2', GradientType=1 );
}

.POSGeneralSetting .WidControlPOSGeneralSetting *,
.POSGeneralSetting .WidControlPOSGeneralSetting *:after,
.POSGeneralSetting .WidControlPOSGeneralSetting *:before 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font             : 2.3vh cobrasystemfont;     
}

.POSGeneralSetting .WidControlPOSGeneralSetting
{
    width:100vw;
    height:85vh;
    overflow:auto;               
}

.POSGeneralSetting .WidControlPOSGeneralSetting .SettingGroup
{
    width:100vw;
    height:auto;
    background:rgba(255, 255, 255, 0.25);
    padding-bottom:2vh;

    -moz-box-shadow: 0vh 0vh 2vh rgba(180,180,180,0.25);
	-webkit-box-shadow:0vh 0vh 2vh rgba(180,180,180,0.25);
	box-shadow:0vh 0vh 2vh rgba(180,180,180,0.25);
}

.POSGeneralSetting .WidControlPOSGeneralSetting .SettingGroup .SectionHeader
{
    width:100vw;
    height:6vh;
    padding : 0.75vh 2vw;
    color: #646464;
    text-shadow: 0.1vh 0.1vh #fff;
    overflow:hidden;
    margin-bottom:0.5vh;

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 10%, rgba(209,209,209,1) 90%, rgba(128,128,128,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(10%, rgba(212,212,212,1)), color-stop(90%, rgba(209,209,209,1)), color-stop(100%, rgba(128,128,128,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 10%, rgba(209,209,209,1) 90%, rgba(128,128,128,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 10%, rgba(209,209,209,1) 90%, rgba(128,128,128,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 10%, rgba(209,209,209,1) 90%, rgba(128,128,128,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 10%, rgba(209,209,209,1) 90%, rgba(128,128,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#808080', GradientType=0 );
}

.POSGeneralSetting .WidControlPOSGeneralSetting .ToggleSwitch
{
    position:relative;
    width:5vh;
    height:3vh;
    background:#fff;
    margin-top:0.5vh;
    border:0.15vh solid #ccc;

     -webkit-border-radius: 2vh;
    -moz-border-radius: 2vh;
    -ms-border-radius: 2vh;
    -o-border-radius: 2vh;
    border-radius: 2vh;

    overflow:hidden;    

    float:right;
}

.POSGeneralSetting .WidControlPOSGeneralSetting .ToggleSwitch div[ea-type=leftbar]
{
    width:0vh;
    height:3vh;
    float:left;
    
    background:#008aff;
}

.POSGeneralSetting .WidControlPOSGeneralSetting:not([notransition]) .ToggleSwitch div[ea-type=leftbar]
{
    -webkit-transition: width 0.5s;
    -moz-transition:    width 0.5s;
    -o-transition:      width 0.5s;
    -ms-transition:     width 0.5s;
    transition:         width 0.5s;  
}

.POSGeneralSetting .WidControlPOSGeneralSetting .ToggleSwitch[value=true] div[ea-type=leftbar]
{
    width:5vh;    
    background:#008aff;
}

.POSGeneralSetting .WidControlPOSGeneralSetting .ToggleSwitch div[ea-type=key]
{
    position:absolute;
    left:0.2vh;
    top:0.18vh;
    width:2.3vh;
    height:2.3vh;

    -webkit-border-radius: 2vh;
    -moz-border-radius: 2vh;
    -ms-border-radius: 2vh;
    -o-border-radius: 2vh;
    border-radius: 2vh;

    border:0.15vh solid #ddd;

    background:#fff;
}

.POSGeneralSetting .WidControlPOSGeneralSetting:not([notransition]) .ToggleSwitch div[ea-type=key]
{    
    -webkit-transition: left 0.5s;
    -moz-transition:    left 0.5s;
    -o-transition:      left 0.5s;
    -ms-transition:     left 0.5s;
    transition:         left 0.5s;  
}

.POSGeneralSetting .WidControlPOSGeneralSetting .ToggleSwitch[value=true] div[ea-type=key]
{    
    left:2.2vh;
}

.POSGeneralSetting .WidControlPOSGeneralSetting .ToggleSwitch[disabled] div[ea-type=key]
{
    background : #eee;
}

.POSGeneralSetting .WidControlPOSGeneralSetting .ToggleSwitch[disabled],
.POSGeneralSetting .WidControlPOSGeneralSetting .ToggleSwitch[disabled] div[ea-type=leftbar]
{
    background : #ccc;
}

.POSGeneralSetting .WidControlPOSGeneralSetting .SettingGroup div[sa-elementtype=inputrow]
{
    width:100vw;
    padding:0vh 2vw;
    height:6vh;
    color:#555;
}

.POSGeneralSetting .WidControlPOSGeneralSetting .SettingGroup div[sa-elementtype=inputrow][disabled]
{
    color:#ccc;
}

.POSGeneralSetting .WidControlPOSGeneralSetting .SettingGroup div[sa-elementtype=inputrow][ea-type=input],
.POSGeneralSetting .WidControlPOSGeneralSetting .SettingGroup div[sa-elementtype=inputrow][ea-type=image],
.POSGeneralSetting .WidControlPOSGeneralSetting .SettingGroup div[sa-elementtype=inputrow][ea-type=slideselection]
{
    height:auto;
}

.POSGeneralSetting .WidControlPOSGeneralSetting .SettingGroup div[sa-elementtype=inputrow][ea-hidden]
{
    display : none;
}

.POSGeneralSetting .WidControlPOSGeneralSetting .SettingGroup div[sa-elementtype=inputrow] div[sa-elementtype=inputlabel]
{
    width:50vw;
    overflow:auto;
    white-space:nowrap;
    float:left;    
}

.POSGeneralSetting .WidControlPOSGeneralSetting .SettingGroup div[sa-elementtype=inputrow][ea-type=togglebutton] div[sa-elementtype=inputlabel]
{
    width:80vw;
}

.POSGeneralSetting .WidControlPOSGeneralSetting .SettingGroup div[sa-elementtype=inputrow][ea-type=input] div[sa-elementtype=inputlabel],
.POSGeneralSetting .WidControlPOSGeneralSetting .SettingGroup div[sa-elementtype=inputrow][ea-type=image] div[sa-elementtype=inputlabel],
.POSGeneralSetting .WidControlPOSGeneralSetting .SettingGroup div[sa-elementtype=inputrow][ea-type=slideselection] div[sa-elementtype=inputlabel]
{
    width:96vw;    
    margin-top:0.5vh;
    margin-bottom:0.5vh;
    float:none;
}

.POSGeneralSetting .WidControlPOSGeneralSetting div[sa-elementtype=inputrow] input[sa-elementtype=inputbox]
{
    width:96vw;    
    border:0.15vh solid #ccc;
    padding:0vh 0.75vh;
    margin-bottom:1vh;
    height:4.5vh;
}

.POSGeneralSetting .WidControlPOSGeneralSetting div[sa-elementtype=inputrow] input[sa-elementtype=inputbox][ea-name=shortname]
{
    width:50vw;
}

.POSGeneralSetting .WidControlPOSGeneralSetting div[sa-elementtype=inputrow] [sa-elementtype=inputbox]:focus,
.POSGeneralSetting .WidControlPOSGeneralSetting div[sa-elementtype=inputrow] .SlideSelectionContainer input[type=text]:focus
{
    background: rgba(150,231,255,1);
    background: -moz-linear-gradient(top, rgba(150,231,255,1) 0%, rgba(184,247,255,1) 11%, rgba(138,228,255,1) 88%, rgba(71,206,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(150,231,255,1)), color-stop(11%, rgba(184,247,255,1)), color-stop(88%, rgba(138,228,255,1)), color-stop(100%, rgba(71,206,255,1)));
    background: -webkit-linear-gradient(top, rgba(150,231,255,1) 0%, rgba(184,247,255,1) 11%, rgba(138,228,255,1) 88%, rgba(71,206,255,1) 100%);
    background: -o-linear-gradient(top, rgba(150,231,255,1) 0%, rgba(184,247,255,1) 11%, rgba(138,228,255,1) 88%, rgba(71,206,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(150,231,255,1) 0%, rgba(184,247,255,1) 11%, rgba(138,228,255,1) 88%, rgba(71,206,255,1) 100%);
    background: linear-gradient(to bottom, rgba(150,231,255,1) 0%, rgba(184,247,255,1) 11%, rgba(138,228,255,1) 88%, rgba(71,206,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96e7ff', endColorstr='#47ceff', GradientType=0 );
}

.POSGeneralSetting .WidControlPOSGeneralSetting div[sa-elementtype=inputrow] .ImageContainer
{
    position:relative;
    height:10vh;
    width:10vh;     
    border:0.2vh solid #ccc;            
}

.POSGeneralSetting .WidControlPOSGeneralSetting div[sa-elementtype=inputrow] .ImageContainer img
{
    width:100%;
    height:100%;
}

.POSGeneralSetting .WidControlPOSGeneralSetting div[sa-elementtype=inputrow] .ImageContainer::after
{
    position:absolute;
    width:4.5vh;
    height:4vh;    
    display: block;
    top: 0vh;
    left: 11vh;
    color: #888;
    font: 2.5vh fontawesome;
    padding-top: 1vh;
    text-align: center;
    text-shadow: 0.2vw 0.1vh #eee;
    content:'\f141';
    background: rgba(254,254,254,1);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 7%, rgba(204,204,204,1) 92%, rgba(166,166,166,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(7%, rgba(219,219,219,1)), color-stop(92%, rgba(204,204,204,1)), color-stop(100%, rgba(166,166,166,1)));
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 7%, rgba(204,204,204,1) 92%, rgba(166,166,166,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 7%, rgba(204,204,204,1) 92%, rgba(166,166,166,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 7%, rgba(204,204,204,1) 92%, rgba(166,166,166,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 7%, rgba(204,204,204,1) 92%, rgba(166,166,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#a6a6a6', GradientType=0 );
}

.POSGeneralSetting .WidControlPOSGeneralSetting div[sa-elementtype=inputrow] .SlideSelectionContainer
{
    position:relative;
    width   : 96vw;
    height  : auto;
}

.POSGeneralSetting .WidControlPOSGeneralSetting div[sa-elementtype=inputrow] .SlideSelectionContainer input[type=text]
{
    height:4.5vh;
    padding:0vh 2vw;
    background : #ddd;
}

.POSGeneralSetting .WidControlPOSGeneralSetting div[sa-elementtype=inputrow] .SlideSelectionContainer[ea-name=localtimezoneid] input[type=text]
{
    width:80vw;    
}

.POSGeneralSetting .WidControlPOSGeneralSetting div[sa-elementtype=inputrow] .SlideSelectionContainer[ea-name=dateformat] input[type=text]
{
    width:50vw;    
    margin-bottom:2vh;
}

.POSGeneralSetting .WidControlPOSGeneralSetting div[sa-elementtype=inputrow] .SlideSelectionContainer::after
{    
    position:absolute;
    top:0.1vh;
    left:81vw;
    width:4.5vh;
    height:4vh;    
    display: block;
    color: #888;
    font: 2.5vh fontawesome;
    padding-top: 1vh;
    text-align: center;
    text-shadow: 0.2vw 0.1vh #eee;
    content:'\f141';
    background: rgba(254,254,254,1);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 7%, rgba(204,204,204,1) 92%, rgba(166,166,166,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(7%, rgba(219,219,219,1)), color-stop(92%, rgba(204,204,204,1)), color-stop(100%, rgba(166,166,166,1)));
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 7%, rgba(204,204,204,1) 92%, rgba(166,166,166,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 7%, rgba(204,204,204,1) 92%, rgba(166,166,166,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 7%, rgba(204,204,204,1) 92%, rgba(166,166,166,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 7%, rgba(204,204,204,1) 92%, rgba(166,166,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#a6a6a6', GradientType=0 );
}

.POSGeneralSetting .WidControlPOSGeneralSetting div[sa-elementtype=inputrow] .SlideSelectionContainer[ea-name=dateformat]::after
{
    left:51vw;
}

.POSGeneralSetting .SubControlSelectionPanel[ea-type=timezonelist][sa-elementtype=popup][ea-appearance=wide] .PanelOverlay .SelectionPanel .ContentArea .Item
{
    text-align : left;
    font-size  : 1.8vh
}

.POSGeneralSetting .SubControlSelectionPanel[ea-type=dateformatlist][sa-elementtype=popup][ea-appearance=wide] .PanelOverlay .SelectionPanel .ContentArea .Item
{
    text-align : left;
    font-size  : 2.5vh;
    line-height : 220%;
}


.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay
{
    position: fixed;
    top: 0;
    left: 100vw;
    background: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    z-index: 999;

    -webkit-transition: left 0.5s;
    -moz-transition:    left 0.5s;
    -o-transition:      left 0.5s;
    -ms-transition:     left 0.5s;
    transition:         left 0.5s;  
}

.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay[fa-showpopup]
{
    left:0vw;
}

.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay [sa-elementtype=popup]
{
    height:90vh;
    width:90vw;
    background:#eee;
    margin-left: 5vw;
    margin-top: 5vh;

    -moz-box-shadow:0vh 0vh 2vh #fff;
	-webkit-box-shadow:0vh 0vh 2vh #fff;
	box-shadow:0vh 0vh 2vh #fff;

    overflow:hidden;
}

.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay [sa-elementtype=popup] .PopUpTitle
{
    position: relative;
    width: 100%;
    height: 5.5vh;
    color: #6b6b6b;
    text-shadow: 0.2vh 0.2vh #eaeaea;
    border-bottom: 0.2vh solid #ccc;
    margin-bottom:0.5vh;
}

.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay [sa-elementtype=popup] .PopUpTitle span
{
    font-size: 2.8vh;
    text-align: left;
    padding: 0.5vh 2vw;
}

.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay [sa-elementtype=popup] .PopUpTitle a[ea-command="@cmd%popup.close"]
{
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 0;
    right: 0;
    display: block;
    text-decoration: none;
    font: 3vh fontawesome;
    padding-top: 1vh;
    text-align: center;
}

.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay [sa-elementtype=popup] .ImageListContainer
{
    display:block;
    width: 101%; /* Intentionally 101% */
    height: 75vh;
    overflow:auto;    
    margin-bottom:1vh;
}

.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay [sa-elementtype=popup] .ImageListContainer img
{
    height: auto;
    width: 26.5%;
    margin: 1vh 2vw 1vh 2vw;
    display: inline-block;
    border: 0.5vh solid #eee;
    
    -moz-box-shadow:0vh 0vh 0.2vh #888;
	-webkit-box-shadow:0vh 0vh 0.2vh #888;
	box-shadow:0vh 0vh 0.2vh #888;
}

.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay [sa-elementtype=popup] .ImageListContainer img[fa-active]
{
    border: 0.5vh solid #e00;

    -moz-box-shadow:0vh 0vh 1vh #ff0f0f;
	-webkit-box-shadow:0vh 0vh 1vh #ff0f0f;
	box-shadow:0vh 0vh 1vh #ff0f0f;
    
}

.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay [sa-elementtype=popup] .ButtonPanel
{
    width: 100%;
    height: 8vh;
    background: #ff5000;
    white-space: nowrap;
    overflow: hidden;
}

.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay [sa-elementtype=popup] .ButtonPanel a
{
    display: inline-block;
    font-size: 2.5vh;
    color: #eee;
    overflow-y:hidden;
    overflow-x:auto;
    text-align:center;
    padding-top:1.5vh;
}

.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay [sa-elementtype=popup] .ButtonPanel a[ea-command="@cmd%popup.choose"]
{
    width: 60%;
    height: 100%;
    border-right: 0.2vh solid#ddd;
}


.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay [sa-elementtype=popup] .ButtonPanel a[ea-command="@cmd%popup.cancel"]
{
    width:40%;
    height:100%;
    background:#aaa;
}

.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay [sa-elementtype=popup] .ButtonPanel a[ea-command="@cmd%popup.choose"]:active,
.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay [sa-elementtype=popup] .ButtonPanel a[ea-command="@cmd%popup.cancel"]:active,
.POSGeneralSetting [sa-elementtype=overlay][ea-type=imagepopup].PopUpOverlay [sa-elementtype=popup] .PopUpTitle a[ea-command="@cmd%popup.close"]:active
{
    background:#000;
    color:#fff;
}



