.POSAddAdjustUnit
{    
    /*background: url('images/background/blue_butterfly_3_sparkling.jpg') no-repeat center center fixed;
    background-size : 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/ 
    /*background: rgba(217,185,137,1);
background: -moz-linear-gradient(45deg, rgba(217,185,137,1) 0%, rgba(243,226,199,1) 26%, rgba(235,206,162,1) 50%, rgba(243,226,199,1) 75%, rgba(233,212,179,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(217,185,137,1)), color-stop(26%, rgba(243,226,199,1)), color-stop(50%, rgba(235,206,162,1)), color-stop(75%, rgba(243,226,199,1)), color-stop(100%, rgba(233,212,179,1)));
background: -webkit-linear-gradient(45deg, rgba(217,185,137,1) 0%, rgba(243,226,199,1) 26%, rgba(235,206,162,1) 50%, rgba(243,226,199,1) 75%, rgba(233,212,179,1) 100%);
background: -o-linear-gradient(45deg, rgba(217,185,137,1) 0%, rgba(243,226,199,1) 26%, rgba(235,206,162,1) 50%, rgba(243,226,199,1) 75%, rgba(233,212,179,1) 100%);
background: -ms-linear-gradient(45deg, rgba(217,185,137,1) 0%, rgba(243,226,199,1) 26%, rgba(235,206,162,1) 50%, rgba(243,226,199,1) 75%, rgba(233,212,179,1) 100%);
background: linear-gradient(45deg, rgba(217,185,137,1) 0%, rgba(243,226,199,1) 26%, rgba(235,206,162,1) 50%, rgba(243,226,199,1) 75%, rgba(233,212,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9b989', endColorstr='#e9d4b3', GradientType=1 );*/   
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit *,
.POSAddAdjustUnit .WidControlPOSAddAdjustUnit *:after,
.POSAddAdjustUnit .WidControlPOSAddAdjustUnit *:before 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font             : 2.3vh cobrasystemfont;     
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit
{
    width:100vw;
    height:94vh;
    overflow:auto;               
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit[ea-controlmode=base]
{
    background: rgba(210,75,90,0.5);
    background: -moz-linear-gradient(45deg, rgba(210,75,90,0.5) 0%, rgba(207,71,91,0.5) 19%, rgba(186,39,55,0.5) 38%, rgba(207,71,91,0.5) 62%, rgba(186,39,55,0.5) 83%, rgba(230,71,90,0.5) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(210,75,90,0.5)), color-stop(19%, rgba(207,71,91,0.5)), color-stop(38%, rgba(186,39,55,0.5)), color-stop(62%, rgba(207,71,91,0.5)), color-stop(83%, rgba(186,39,55,0.5)), color-stop(100%, rgba(230,71,90,0.5)));
    background: -webkit-linear-gradient(45deg, rgba(210,75,90,0.5) 0%, rgba(207,71,91,0.5) 19%, rgba(186,39,55,0.5) 38%, rgba(207,71,91,0.5) 62%, rgba(186,39,55,0.5) 83%, rgba(230,71,90,0.5) 100%);
    background: -o-linear-gradient(45deg, rgba(210,75,90,0.5) 0%, rgba(207,71,91,0.5) 19%, rgba(186,39,55,0.5) 38%, rgba(207,71,91,0.5) 62%, rgba(186,39,55,0.5) 83%, rgba(230,71,90,0.5) 100%);
    background: -ms-linear-gradient(45deg, rgba(210,75,90,0.5) 0%, rgba(207,71,91,0.5) 19%, rgba(186,39,55,0.5) 38%, rgba(207,71,91,0.5) 62%, rgba(186,39,55,0.5) 83%, rgba(230,71,90,0.5) 100%);
    background: linear-gradient(45deg, rgba(210,75,90,0.5) 0%, rgba(207,71,91,0.5) 19%, rgba(186,39,55,0.5) 38%, rgba(207,71,91,0.5) 62%, rgba(186,39,55,0.5) 83%, rgba(230,71,90,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d24b5a', endColorstr='#e6475a', GradientType=1 );
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit[ea-controlmode=custom]
{
    background: rgba(0,104,179,0.5);
    background: -moz-linear-gradient(45deg, rgba(0,104,179,0.5) 0%, rgba(0,104,179,0.5) 1%, rgba(28,139,214,0.5) 31%, rgba(0,104,179,0.49) 55%, rgba(28,139,214,0.49) 80%, rgba(0,104,179,0.49) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,104,179,0.5)), color-stop(1%, rgba(0,104,179,0.5)), color-stop(31%, rgba(28,139,214,0.5)), color-stop(55%, rgba(0,104,179,0.49)), color-stop(80%, rgba(28,139,214,0.49)), color-stop(100%, rgba(0,104,179,0.49)));
    background: -webkit-linear-gradient(45deg, rgba(0,104,179,0.5) 0%, rgba(0,104,179,0.5) 1%, rgba(28,139,214,0.5) 31%, rgba(0,104,179,0.49) 55%, rgba(28,139,214,0.49) 80%, rgba(0,104,179,0.49) 100%);
    background: -o-linear-gradient(45deg, rgba(0,104,179,0.5) 0%, rgba(0,104,179,0.5) 1%, rgba(28,139,214,0.5) 31%, rgba(0,104,179,0.49) 55%, rgba(28,139,214,0.49) 80%, rgba(0,104,179,0.49) 100%);
    background: -ms-linear-gradient(45deg, rgba(0,104,179,0.5) 0%, rgba(0,104,179,0.5) 1%, rgba(28,139,214,0.5) 31%, rgba(0,104,179,0.49) 55%, rgba(28,139,214,0.49) 80%, rgba(0,104,179,0.49) 100%);
    background: linear-gradient(45deg, rgba(0,104,179,0.5) 0%, rgba(0,104,179,0.5) 1%, rgba(28,139,214,0.5) 31%, rgba(0,104,179,0.49) 55%, rgba(28,139,214,0.49) 80%, rgba(0,104,179,0.49) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0068b3', endColorstr='#0068b3', GradientType=1 );
}


.POSAddAdjustUnit .WidControlPOSAddAdjustUnit [sa-elementtype=container]
{
    height:45vh;
    overflow:auto;
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit[ea-controlmode=base] [sa-elementtype=container]
{
    height:20vh;
    overflow:auto;
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit [sa-elementtype=container] [sa-elementtype=inputblock]
{
    overflow:hidden;
    margin-bottom:0.5vh;
    padding-bottom:0vh;    

    background:rgba(255, 255, 255, 0.5);

    -moz-box-shadow:0vh 0vh 2vh #000;
	-webkit-box-shadow:0vh 0vh 2vh #000;
	box-shadow:0vh 0vh 2vh #000;
    /* background: rgba(216,225,231,0.95);
    background: -moz-linear-gradient(top, rgba(216,225,231,0.95) 0%, rgba(181,198,208,0.9) 93%, rgba(130,130,130,0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(216,225,231,0.95)), color-stop(93%, rgba(181,198,208,0.9)), color-stop(100%, rgba(130,130,130,0.9)));
    background: -webkit-linear-gradient(top, rgba(216,225,231,0.95) 0%, rgba(181,198,208,0.9) 93%, rgba(130,130,130,0.9) 100%);
    background: -o-linear-gradient(top, rgba(216,225,231,0.95) 0%, rgba(181,198,208,0.9) 93%, rgba(130,130,130,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(216,225,231,0.95) 0%, rgba(181,198,208,0.9) 93%, rgba(130,130,130,0.9) 100%);
    background: linear-gradient(to bottom, rgba(216,225,231,0.95) 0%, rgba(181,198,208,0.9) 93%, rgba(130,130,130,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e1e7', endColorstr='#828282', GradientType=0 );*/
}



.POSAddAdjustUnit .WidControlPOSAddAdjustUnit div[sa-elementtype=inputtitle]
{
    width:100vw;
    height:4.5vh;
    margin-bottom:0.5vh;
    text-shadow:0.15vh 0.15vh 0vh #fff;
    padding:0vh 2vw;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 6%, rgba(204,204,204,1) 92%, rgba(133,133,133,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(6%, rgba(222,222,222,1)), color-stop(92%, rgba(204,204,204,1)), color-stop(100%, rgba(133,133,133,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 6%, rgba(204,204,204,1) 92%, rgba(133,133,133,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 6%, rgba(204,204,204,1) 92%, rgba(133,133,133,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 6%, rgba(204,204,204,1) 92%, rgba(133,133,133,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 6%, rgba(204,204,204,1) 92%, rgba(133,133,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#858585', GradientType=0 );
}


.POSAddAdjustUnit .WidControlPOSAddAdjustUnit div[sa-elementtype=inputtitle],
.POSAddAdjustUnit .WidControlPOSAddAdjustUnit div[sa-elementtype=inputrow]
{
    width:100vw;
    min-height:4.5vh;
    margin-bottom:2vh;
    padding:0vh 2vw;    
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit div[sa-elementtype=inputtitle]
{
    margin-bottom:2.5vh;
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit input[type=text],
.POSAddAdjustUnit .WidControlPOSAddAdjustUnit input[type=password]
{
    width:50vw;
    height:4.5vh;          
    float:left;
    white-space:nowrap;
    overflow-x:auto;
    overflow-y:hidden;
    padding:0vh 2vw;
    border:0.1vh solid #ddd;
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit textarea
{
    padding:0vh 2vw;
    width:50vw;
    height:15vh;          
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit [sa-elementtype=inputrow]>input[type=text][readonly],
.POSAddAdjustUnit .WidControlPOSAddAdjustUnit [sa-elementtype=inputrow]>input[type=password][readonly],
.POSAddAdjustUnit .WidControlPOSAddAdjustUnit [sa-elementtype=inputrow]>textarea[readonly]
{
    background:#e5e5e5;
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit div[sa-elementtype=inputlabel]
{
    width:45vw;    
    height:4.5vh;
    float:left;
    white-space:nowrap;    
    overflow-x:auto;
    overflow-y:hidden;        
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit div[sa-elementtype=slideselectioncontrol]
{
    position:relative;
    display: inline-block;
    overflow: hidden;
    width: 50vw;
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit div[sa-elementtype=slideselectioncontrol] input[type=text]
{
    
    width:50vw;
    border:0.15vh solid #ddd;
    padding:0.25vh 2vw;
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit div[sa-elementtype=slideselectioncontrol]::after
{
    position: absolute;
    display: block;
    right: 2vw;
    top: 0.8vh;
    padding-top: 0.35vh;
    width: 6vw;
    height: 3vh;
    text-align: center;
    background: #ddd;
    color: #888;    
    font: 2.2vh fontawesome;
    content: '\f141';
    -moz-box-shadow:0vh 0vh 0.3vh #555;
	-webkit-box-shadow:0vh 0vh 0.3vh #555;
	box-shadow:0vh 0vh 0.3vh #555;
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit div[sa-elementtype=slideselectioncontrol][fa-disable] input[type=text]
{
    background:#e5e5e5;
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit [sa-elementtype=inputblock][ea-appearance=hidden]
{
    display : none;
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit input[type=text]:focus,
.POSAddAdjustUnit .WidControlPOSAddAdjustUnit textarea:focus
{
 background: rgba(150,231,255,1);
background: -moz-linear-gradient(top, rgba(150,231,255,1) 0%, rgba(184,247,255,1) 11%, rgba(138,228,255,1) 88%, rgba(71,206,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(150,231,255,1)), color-stop(11%, rgba(184,247,255,1)), color-stop(88%, rgba(138,228,255,1)), color-stop(100%, rgba(71,206,255,1)));
background: -webkit-linear-gradient(top, rgba(150,231,255,1) 0%, rgba(184,247,255,1) 11%, rgba(138,228,255,1) 88%, rgba(71,206,255,1) 100%);
background: -o-linear-gradient(top, rgba(150,231,255,1) 0%, rgba(184,247,255,1) 11%, rgba(138,228,255,1) 88%, rgba(71,206,255,1) 100%);
background: -ms-linear-gradient(top, rgba(150,231,255,1) 0%, rgba(184,247,255,1) 11%, rgba(138,228,255,1) 88%, rgba(71,206,255,1) 100%);
background: linear-gradient(to bottom, rgba(150,231,255,1) 0%, rgba(184,247,255,1) 11%, rgba(138,228,255,1) 88%, rgba(71,206,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96e7ff', endColorstr='#47ceff', GradientType=0 );
}


.POSAddAdjustUnit .WidControlPOSAddAdjustUnit .ButtonPanel
{
    width:100vw;
    height:8vh;
    margin-top:1vh;
    text-align:center;
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit .AddButton 
{    
	-moz-box-shadow:inset 0 0.3vh 0 0 #a4e271;
	-webkit-box-shadow:inset 0 0.3vh 0 0 #a4e271;
	box-shadow:inset 0 0.3vh 0 0 #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;	

    -webkit-border-radius: 0.5vh;
    -moz-border-radius: 0.5vh;
    -ms-border-radius: 0.5vh;
    -o-border-radius: 0.5vh;
    border-radius: 0.5vh;

	border:0.1vh solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;	
	font-size:2.5vh;
	font-weight:bold;
	padding:1vh 4vw;
	text-decoration:none;
	text-shadow:0 0.3vh 0 #528009;
    margin:0 5vw;
    min-width:23vw;
    min-height:6vh;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;        
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit .AddButton:hover 
{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit .AddButton:active 
{
	position:relative;
	top:0.2vh;
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit .CloseButton
{
	-moz-box-shadow:inset 0 0.3vh 0 0 #f5978e;
	-webkit-box-shadow:inset 0 0.3vh 0 0 #f5978e;
	box-shadow:inset 0 0.3vh 0 0 #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	
    -webkit-border-radius: 0.5vh;
    -moz-border-radius: 0.5vh;
    -ms-border-radius: 0.5vh;
    -o-border-radius: 0.5vh;
    border-radius: 0.5vh;

	border:0.1vh solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;	
	font-size:2.5vh;
	font-weight:bold;
	padding:1vh 4vw;
	text-decoration:none;
	text-shadow:0 0.3vh 0 #810e05;
    margin:0 5vw;
    min-width:23vw;
    min-height:6vh;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;        
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit .CloseButton:hover
{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}

.POSAddAdjustUnit .WidControlPOSAddAdjustUnit .CloseButton:active
{
	position:relative;
	top:0.2vh;
}


.POSAddAdjustUnit .WidControlPOSAddAdjustUnit[fa-showpanel=baseunit] [sa-elementtype=popup][ea-type=baseunit] [sa-elementtype=overlay],
.POSAddAdjustUnit .WidControlPOSAddAdjustUnit[fa-showpanel=unittype] [sa-elementtype=popup][ea-type=unittype] [sa-elementtype=overlay]
{
    width:100vw;
}