.POSPrinterSetting
{    
    /*background: url('images/background/blue_butterfly_3_sparkling.jpg') no-repeat center center fixed;
    background-size : 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/    

    background: rgba(177,216,242,0.5);
    background: -moz-linear-gradient(45deg, rgba(177,216,242,0.5) 0%, rgba(120,175,214,0.5) 18%, rgba(149,191,219,0.5) 39%, rgba(127,178,212,0.5) 60%, rgba(158,195,219,0.5) 81%, rgba(134,174,204,0.5) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(177,216,242,0.5)), color-stop(18%, rgba(120,175,214,0.5)), color-stop(39%, rgba(149,191,219,0.5)), color-stop(60%, rgba(127,178,212,0.5)), color-stop(81%, rgba(158,195,219,0.5)), color-stop(100%, rgba(134,174,204,0.5)));
    background: -webkit-linear-gradient(45deg, rgba(177,216,242,0.5) 0%, rgba(120,175,214,0.5) 18%, rgba(149,191,219,0.5) 39%, rgba(127,178,212,0.5) 60%, rgba(158,195,219,0.5) 81%, rgba(134,174,204,0.5) 100%);
    background: -o-linear-gradient(45deg, rgba(177,216,242,0.5) 0%, rgba(120,175,214,0.5) 18%, rgba(149,191,219,0.5) 39%, rgba(127,178,212,0.5) 60%, rgba(158,195,219,0.5) 81%, rgba(134,174,204,0.5) 100%);
    background: -ms-linear-gradient(45deg, rgba(177,216,242,0.5) 0%, rgba(120,175,214,0.5) 18%, rgba(149,191,219,0.5) 39%, rgba(127,178,212,0.5) 60%, rgba(158,195,219,0.5) 81%, rgba(134,174,204,0.5) 100%);
    background: linear-gradient(45deg, rgba(177,216,242,0.5) 0%, rgba(120,175,214,0.5) 18%, rgba(149,191,219,0.5) 39%, rgba(127,178,212,0.5) 60%, rgba(158,195,219,0.5) 81%, rgba(134,174,204,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1d8f2', endColorstr='#86aecc', GradientType=1 );
}

.POSPrinterSetting .WidControlPOSPrinterSetting *,
.POSPrinterSetting .WidControlPOSPrinterSetting *:after,
.POSPrinterSetting .WidControlPOSPrinterSetting *:before 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font             : 2.3vh cobrasystemfont;     
}

.POSPrinterSetting .WidControlPOSPrinterSetting
{
    width:100vw;
    height:85vh;
    overflow:auto;               
}

.POSPrinterSetting .WidControlPOSPrinterSetting .TitleBar
{   
    text-align: center;
    width: 100vw;
    height: 6vh;
    padding: 0.75vh 2vw;
    color: #646464;
    text-shadow: 0.1vh 0.1vh #fff;
    overflow: hidden;
    margin-bottom: 0.5vh;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 10%, rgba(209,209,209,1) 90%, rgba(128,128,128,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(10%, rgba(212,212,212,1)), color-stop(90%, rgba(209,209,209,1)), color-stop(100%, rgba(128,128,128,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 10%, rgba(209,209,209,1) 90%, rgba(128,128,128,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 10%, rgba(209,209,209,1) 90%, rgba(128,128,128,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 10%, rgba(209,209,209,1) 90%, rgba(128,128,128,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 10%, rgba(209,209,209,1) 90%, rgba(128,128,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#808080', GradientType=0 );
}

.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row
{
    width: 100vw;
    height: 6vh;
    overflow: hidden;
    padding: 0.5vh 2vw;
}

.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row:not([ea-type=PrinterName])[fa-hidden]
{
    display:none;
}

.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row .InputDiv
{
    position : relative;        
    width    : 48vw;
    float    : right;
}

.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row div[sa-elementtype=inputlabel]
{
    height: 5vh;
    width: 48vw;    
    float: left;
    line-height: 200%;
}

.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row input[type=text][sa-elementtype=inputbox]
{
    width: 20vw;
    height: 5vh;
    text-align:right;
    padding:0vh 2vw;
}

.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row input[type=text][sa-elementtype=inputbox]:focus
{
    background: rgba(150,231,255,1);
    background: -moz-linear-gradient(top, rgba(150,231,255,1) 0%, rgba(184,247,255,1) 11%, rgba(138,228,255,1) 88%, rgba(71,206,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(150,231,255,1)), color-stop(11%, rgba(184,247,255,1)), color-stop(88%, rgba(138,228,255,1)), color-stop(100%, rgba(71,206,255,1)));
    background: -webkit-linear-gradient(top, rgba(150,231,255,1) 0%, rgba(184,247,255,1) 11%, rgba(138,228,255,1) 88%, rgba(71,206,255,1) 100%);
    background: -o-linear-gradient(top, rgba(150,231,255,1) 0%, rgba(184,247,255,1) 11%, rgba(138,228,255,1) 88%, rgba(71,206,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(150,231,255,1) 0%, rgba(184,247,255,1) 11%, rgba(138,228,255,1) 88%, rgba(71,206,255,1) 100%);
    background: linear-gradient(to bottom, rgba(150,231,255,1) 0%, rgba(184,247,255,1) 11%, rgba(138,228,255,1) 88%, rgba(71,206,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96e7ff', endColorstr='#47ceff', GradientType=0 );
}


.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row[ea-type=ReconnectInterval]
{
    height: 7vh;
    border-bottom: 0.2vh solid #eee;
    margin-bottom: 1vh;
}

.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row[ea-type=PrinterName] input[sa-elementtype=inputbox]
{    
    width: 32.5vw;
    text-align:left;
    float:left;
    font-size:1.8vh;
}

.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row[ea-type=PrinterName] [sa-elementtype=button]
{   
    width: 4vh;
    height: 4vh;
    background: #eee;
/*    content: '\f141'; */
    font: 3vh fontawesome;
    color: #888;
    text-align: center;
    margin-left: 2vw;
    line-height: 120%;
    border-width: 0.2vh;
    border-style: outset;
    border-color: #fff;
    margin-top:0.5vh;
    float:left;
}

.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row[ea-type=PrinterDriver] input[sa-elementtype=inputbox],
.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row[ea-type=IPAddress] input[sa-elementtype=inputbox],
.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row[ea-type=DeviceID] input[sa-elementtype=inputbox]
{
   width: 43vw;
   text-align:left;
}

.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row[ea-type=PrinterDriver] input[sa-elementtype=inputbox]
{
    background : #dfdfdf;
}

.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row[ea-type=Port] input[sa-elementtype=inputbox]
{
    text-align:left;
}

/*.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row[ea-type=Darkness] .InputDiv::after
{
    position:absolute;
    content:'%';
    line-height: 230%;
    margin-left: 2vw;
}*/

.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row[ea-type=MonitorInterval] .InputDiv::after,
.POSPrinterSetting .WidControlPOSPrinterSetting .ContentContainer .Row[ea-type=ReconnectInterval] .InputDiv::after
{
    position    :   absolute;
    content     :   'ms';
    line-height :   230%;
    margin-left :   2vw;
}

.POSPrinterSetting .WidControlPOSPrinterSetting .ConnectionOverlay
{
    top             : 0;
    left            : 0;
    width           : 100vw;
    height          : 100vh;
    background      : rgba(0,0,0,0.8);
    position        : fixed;
    display         : none;
    text-align      : center;
}

.POSPrinterSetting .WidControlPOSPrinterSetting[fa-connecting] .ConnectionOverlay
{
    display:block;
}

.POSPrinterSetting .WidControlPOSPrinterSetting .ConnectionOverlay img
{
    display : inline-block;
    width   : 4vh;
    height  : 4vh;
    margin-top : 35vh;    
}

.POSPrinterSetting .WidControlPOSPrinterSetting .ConnectionOverlay [sa-elementtype=label]
{
    font-size : 2.2vh;
    margin-top : 1vh;
    width:100%;
    height : 7vh;
    text-align:center;
    color:#fff;
}